.spend, .income {
	border-bottom: 2px solid #f3f3f3;
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-bottom: 	10px;
}

.income .amount { color: green; }
.spend .amount { color: red; }

span { font-weight: bold; }
